<div class = "container">
<h3> Let's stalk! </h3>

<form action="/" method="post">
	<label>Username: </label>
	<input type="text" name='username'>
	<input type="submit" value="let's go">
</form>

</div>